.button {
    width: 100px;
    height: 40px;
    background-color:rgb(0, 229, 255);
    color: #ffffff;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}


